<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">主机运行状态记录！</h1>
<table width="1000", bgcolor="aqua", border="1" align="center">
<tr>
<h3>
<th align="left">主机</th>
<th align="left">端口号</th>
<th align="left">运行状态</th>
<th align="left">创建日期</th>
</h3>
<tr>
{% for list in statulist %}
{% if list.ip == ip %}
    <tr>
    <td align="left">{{list.ip}}</td>
    <td align="left">{{list.port}}</td>
    <td align="left">{{list.status}}</td>
    <td align="left">{{list.status_date}}</td>
{% endif %}
{% endfor %}
</tr>
</table>
<div align="center">
{% for pindex in plist %}
    {% if pIndex == pindex %}
    {{ pindex }}
    {% else %}
    <a href="/pag/{{ ip }}/pag{{ pindex }}/?a={{ ip }}">{{ pindex }}</a>
{% endif %}
{% endfor %}
</div>
</body>
</html>